# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
venv/
env/
ENV/
.venv/
.virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# VS Code settings
.vscode/

# JetBrains IDE settings
.idea/

# Other
*.log